body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.input-search {
    width: 560px;
    height: 56px;
    border-radius: 37px;
    padding: 31px;
    margin-top: 51px;
    border: 1px #d7d4d4 solid;
}