.post {
            border: 1px solid black;
			padding: 16px;
			border-radius: 15px;
			width: 400px;
			position: relative;
			background-color: aquamarine;
			cursor: pointer;
}

.post input {
                border-radius: 15px;
				width: 100px;
				text-align: center;
				margin-right: 10px;
				cursor: pointer;
				transition: background-color 0.3s ease;
                padding: 10px;
}

.post button {
            border-radius: 15px;
			position: absolute;
			right: 10px;
			top: 18px;
            padding: 5px;
}