.card {
  border: 2px solid rgb(197, 197, 197);
  padding: 15px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card button {
  background-color: #339933;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;    
  margin: 0 5px;
  border-radius: 7px;
}

.card img {
  height:  150px;
  width: 150px;
  border-radius: 10%;
  object-fit: contain;
}

.card p:nth-child(3) {
  color: darkmagenta;
  font-weight: 700;
  font-size: 20px;
}

.card p:nth-child(4) {
  color: red;
  font-weight: 700;
  font-size: 20px;
}

span {
  cursor: pointer;   
  font-weight: 900;
  color: blue;
}