* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    color: white;
}
header {
    background-color: white;
}

main {
    background-color: #4FBFA5;
}

.header {
    display: flex;
    justify-content: space-between;

    padding: 6px 346px 10px 312px;
}

.header_social {
    display: flex;
    align-items: center;
}

.header_social img:not(:last-child) {
    margin-right: 60px;
}

.main_menu {
    display: flex;
    justify-content: space-around;
}

.main_content_text {
    display: flex;
    flex-direction: column;
}

.main_content {
    display: flex;
    justify-content: space-between;
   align-items: center;

}

.button2 {
height: 50px;
width: 158px;
left: 313px;
top: 549px;
border-radius: 0px;
padding: 15px 25px 14px 25px;
}

