.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  max-width: 1000px;
  margin: 30px auto;
}

.container div {
  border: 1px solid black;
  padding: 15px;
  position: relative;
}

.delete_all_btn {
  cursor: pointer;
  padding: 10px;
  border: 1px solid red;
  background-color: red;
  color: white;
  width: 120px;
  text-align: center;
}

.cross_icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
