.container {
    height: 700px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

input {
    border: 0;
    outline: none;   
}

.inputContainer {
    margin: 15px;
    padding: 17px;
    border: 1px solid gray;
    border-radius: 15px;
    width: 319px;
    height: 78px;
    box-sizing: 0px 2px 20px darkgray;
}
