.card {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.card p:nth-child(2) {
  text-align: center;
  margin: 4px 0;
}

.card p:last-child {
  color: darkmagenta;
  font-weight: 700;
}