.clear_btn {
    background-color: #339933;
    color: white;
    padding: 10px;
    border-radius: 10px;   
    cursor: pointer;
    width: fit-content;
  }

  .order{
    position: absolute;
    top: 200px; 
    right: 50px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    width: 496px;
    height: 393px;
  
    }
  
  
    .order input{
    
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
  
    }