.nav_menu {
  background-color: darkblue;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 25px;
  padding: 20px;
}

.nav_menu a {
  text-decoration: none;
  color: white;
}

/* .nav_menu a:last-child {
  color: yellow;
}

.nav_menu a:nth-child(3){
  color: pink;
} */