.card_elem {
  padding: 10px;
  border-radius: 15px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
