.book_item {
    border: 1px solid black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

.rating {
    color: red;
}

.cross {
  position: absolute;
  right: 10px;
  top: 10px;  
  cursor: pointer;
}

