.add_player_form {
    border: 2px solid green;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .add_player_form input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .add_player_form button {
    background-color: green;
    border: 1px solid green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }