.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 1000px;
    margin: 30px auto;
  }
  
  .container div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
  }
  